*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
html {
    font-size: 12px;
    max-width: 100%;
}

html {
    position: relative;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}
body {
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5 !important;
}


.main-container {
    background-color: #F5F5F5 !important;
    min-height: 90vh
}

.side-menu {
    background-color: #191515 !important;
    padding: 15px;
    border-radius:10px
}
.side-menu > ul {
   list-style-type: none;
}

.active{
    background-color: #666 !important;
    color: white;
    border-radius: 5px;
}

.myNavItem:hover {
    background-color: #666 !important;
    color: white;
    border-radius: 5px;
}

.main-main {
   
    padding: 15px;
    background-color: #fff !important
    
}

.table-head {
    font-size: 12px !important;
}

.table-body {
    background-color: #fff !important;
    font-size: 14px;
    padding: 10px !important;
    border-radius:5px
}

/* Auth*/
.auth-header{
    padding: 10px;
    background: green;
    border-radius: 5px;
    color: #fff;
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
    * {
        border: 1px solid red;
    }
}


